body {background-image: url(http://t.cn/RDvwbT9);}
p {
	font-size:40px;
	position: absolute;
 
            
            
}

input[type=button] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            text-transform: uppercase;
            width: 200px;
            height: 40px;
            border: 0px solid #ff4d4d;
            background: -webkit-linear-gradient(90deg, #f2f2f2, #f2f2f2, #ff4d4d, #ff4d4d);
            background:    -moz-linear-gradient(90deg, #f2f2f2, #f2f2f2, #ff4d4d, #ff4d4d);
            background:      -o-linear-gradient(90deg, #f2f2f2, #f2f2f2, #ff4d4d, #ff4d4d);
            background:         linear-gradient(90deg, #f2f2f2, #f2f2f2, #ff4d4d, #ff4d4d);
            background-size: 300% 300%;
            background-position: 1% 50%;
            transition: all 1s ease;
            -webkit-transition: background 0.5s ease;
            outline: none;
            cursor: pointer;
        }

        input[type=button]:hover {
            color: #fff;
            background-position: 99% 50%;
        }
        
input {
	outline: none;
}
input[type=search] {
	position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            text-transform: uppercase;
            width: 200px;
            height: 40px;
            border: 1px solid #000;
            background: -webkit-linear-gradient(90deg, #fff, #fff, #000, #000);
            background:    -moz-linear-gradient(90deg, #fff, #fff, #000, #000);
            background:      -o-linear-gradient(90deg, #fff, #fff, #000, #000);
            background:         linear-gradient(90deg, #fff, #fff, #000, #000);
            background-size: 300% 300%;
            background-position: 1% 50%;
            transition: all 1s ease;
            -webkit-transition: background 0.5s ease;
            outline: none;
            cursor: pointer;
	
	
	
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search] {
	background: #ededed url(http://webdesignerwall.com/demo/expandable-search-form/images/search-icon.png) no-repeat 9px;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 250px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 500px;
	background-color: #fff;
	border-color: #6dcff6;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
  
  
}
